name: server

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  pull-requests: write

jobs:
  cd:
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: ./server
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Setup Environment
        run: |
          printf "%s\n" "SERVER_HOST=${SERVER_HOST}" >> .env
          printf "%s\n" "SERVER_PORT=${SERVER_PORT}" >> .env
          printf "%s\n" "CLIENT_ORIGIN=${CLIENT_ORIGIN}" >> .env
          printf "%s\n" "FILE_UPLOAD_DIR=${FILE_UPLOAD_DIR}" >> .env
          printf "%s\n" "SSL_PRIVATE_KEY_PATH=${SSL_PRIVATE_KEY_PATH}" >> .env
          printf "%s\n" "SSL_CERTIFICATE_PATH=${SSL_CERTIFICATE_PATH}" >> .env
        env:
          SERVER_HOST: ${{ secrets.SERVER_HOST }}
          SERVER_PORT: ${{ secrets.SERVER_PORT }}
          CLIENT_ORIGIN: ${{ secrets.CLIENT_ORIGIN }}
          FILE_UPLOAD_DIR: ${{ secrets.FILE_UPLOAD_DIR }}
          SSL_PRIVATE_KEY_PATH: ${{ secrets.SSL_PRIVATE_KEY_PATH }}
          SSL_CERTIFICATE_PATH: ${{ secrets.SSL_CERTIFICATE_PATH }}

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh/
          printf "%s\n" "${SSH_PRIVATE_KEY}" > ./deploy.key
          chmod 600 ./deploy.key
          printf "%s\n" "${SSH_KNOWN_HOSTS}" >> ~/.ssh/known_hosts
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          SSH_KNOWN_HOSTS: ${{ secrets.SSH_KNOWN_HOSTS }}

      - name: Install PM2
        run: npm i -g pm2

      - name: Deploy using PM2
        run: |
          scp -i ./deploy.key -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -r ./* root@139.59.72.34:/root/server
          scp -i ./deploy.key -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null .env root@139.59.72.34:/root/server/.env
          # ssh -i ./deploy.key -o StrictHostKeyChecking=no root@139.59.72.34 "cd /root/server && npm install && pm2 stop ecosystem.config.cjs"
          ssh -i ./deploy.key -o StrictHostKeyChecking=no root@139.59.72.34 "cd /root/server && npm install && pm2 restart ecosystem.config.cjs"
